{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'story_9/main.css' %}">

  <!-- JS -->
  <script defer src="{% static 'story_9/main.js' %}"></script>

  <title>
    {% block title_block %}
    {% endblock %}
  </title>
</head>
<body>
  {% block content_block %}
  {% endblock %}
</body>
  {% block script_block %}
  {% endblock %}
</html>