{% extends 'story_9/base.html' %}
{% block title_block %}
  story-9 | Home
{% endblock %}
{% block content_block %}
<div class="container d-flex justify-content-center align-items-center flex-column">
  <h1>Halo {{ user }}!</h1>
  <a href="{% url 'endpoint:logout' %}" class="btn btn-primary">Logout</a>
</div>
{% endblock %}