{% extends 'story_9/base.html' %}
{% block title_block %}
  story-9 | Login
{% endblock %}
{% block content_block %}
<div class="container d-flex justify-content-center align-items-center flex-column">
  <h1>Login</h1>
  <small class='warning'>
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  </small>
  <form method="POST" action="{% url 'endpoint:login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name='username' class="form-control" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <hr/>
  <small id="emailHelp" class="form-text text-muted">Don't have an account? <a href="{% url 'sign-up-page' %}">Sign up here</a></small>
</div>
{% endblock %}