{% extends 'story_9/base.html' %}
{% block title_block %}
  story-9 | Sign Up
{% endblock %}
{% block content_block %}
<div class="container d-flex justify-content-center align-items-center flex-column">
  <h1>Sign Up</h1>
  <div class='warning'>
    {% if messages %}
      {% for message in messages %}
        <small>{{ message }}</small>
      {% endfor %}
    {% endif %}
  </div>
  <form method="POST" action="{% url 'endpoint:sign-up' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name='email' class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name='username' class="form-control" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <hr/>
  <small id="emailHelp" class="form-text text-muted">Already have an account? <a href="{% url 'login-page' %}">Login here</a></small>
</div>
{% endblock %}