.container {
  height: 100vh;

  form {
    width: 30em;

    input {
      width: 100%;

      &.invalid {
        outline: 1px solid red;
      }
    }

    small.error {
      color: red;
    }
  }

  .warning {
    color: red;
    display: flex;
    flex-direction: column;
    &, & * {
      text-align: center;
    }
  }

  @media(max-width: 500px) {
    form {
      width: 90vw;
    }
  }
}
