.container {
  height: 100vh;
}

.container form {
  width: 30em;
}

.container form input {
  width: 100%;
}

.container form input.invalid {
  outline: 1px solid red;
}

.container form small.error {
  color: red;
}

.container .warning {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .warning, .container .warning * {
  text-align: center;
}

@media (max-width: 500px) {
  .container form {
    width: 90vw;
  }
}
/*# sourceMappingURL=main.css.map */