.container {
  height: 100vh;
}

.container form {
  width: 30em;
}

.container form input {
  width: 100%;
}

@media (max-width: 500px) {
  .container form {
    width: 90vw;
  }
}
/*# sourceMappingURL=main.884bf282aee9.css.map */